<table>

  <thead>

    <tr>

      <th>Task Name</th>

      <th>Priority</th>

      <th>Status</th>

      <th>Actions</th>

    </tr>

  </thead>

  <tbody>

    @for(task of tasks(); track task.id){

    <tr>

      <td>

        {{task.name}}

      </td>

      <td>

        {{task.priority}}

      </td>

      <td>

        {{getStatus(task.status)}}

      </td>

      <td>

        <button type="button"
                (click)="edit.emit(task)">

          Edit

        </button>

        <button type="button"
                (click)="delete.emit(task)">

          Delete

        </button>

      </td>

    </tr>

    }

    @if(tasks().length===0){

    <tr>

      <td colspan="4"
          class="no-data">

        No Tasks Found

      </td>

    </tr>

    }

  </tbody>

</table>
