############################
# Visual Studio
############################
.vs/
*.user
*.suo

############################
# Build
############################
bin/
obj/

############################
# Logs
############################
*.log

############################
# Node
############################
node_modules/
npm-debug.log*
package-lock.json

############################
# Angular
############################
.angular/
dist/

############################
# OS
############################
Thumbs.db
Desktop.ini

############################
# VS Code
############################
.vscode/

############################
# JetBrains
############################
.idea/